<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secret-santa login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="login-container">
        <div class="nickname-input">
            <input type="text" class="input-box" id="nickname" placeholder=" ">
            <label for="nickname" class="label">nickname</label>
        </div>
        <div class="password-input">
            <input type="password" class="input-box" id="password" placeholder=" ">
            <label for="password" class="label">password</label>
        </div>
        <div class="register-button">
            <button class="button-link" onclick="handleRegister()">
                <div class="button-content">register</div>
            </button>
        </div>
        <div class="login-button">
            <button class="button-link" onclick="handleLogin()">
                <div class="button-content">log in</div>
            </button>
        </div>
    </div>

    <script>
        function handleRegister() {
            window.location.href = 'home';
        }

        function handleLogin() {
            window.location.href = 'home';
        }
    </script>
</body>
</html>
